* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.inputs {
  overflow-y: scroll;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  margin: auto;
  background-color: #aaa;
}
.inputs input {
  display: block;
  width: 100%;
  height: 80px;
  margin-bottom: 80px;
}
