* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.inputs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #aaa;
}
.inputs-02 input,
.inputs input {
  display: block;
  width: 100%;
  height: 80px;
  margin-bottom: 80px;
}
